<div data-role = "header">
    <h1>Mise à jour médecins</h1>
    <a data-rel = "back" data-icon = "back" data-iconpos = "notext"></a>
    <a href = "#pageaccueil" data-rel = "home" data-icon = "home" data-iconpos = "notext"  ></a>
    <a href="#panelMedecinsmaj" data-icon="bars" data-iconpos = "notext" data-role="button" id="btnPanelMedecinMaj" ></a>
</div><!-- /header -->

<div data-role="panel" id="panelMedecinsmaj" >
    <a href="#pagevoirlesrapports" data-role="button" data-inline="true" id="btnVoirRapports" >Voir rapports de visite du médecin</a>
</div> 
