<div data-role = "header">
    <h1>Rapports de visite</h1>
    <a data-rel = "back" data-icon = "back" data-iconpos = "notext"></a>
    <a href = "#pageaccueil" data-rel = "home" data-icon = "home" data-iconpos = "notext" ></a>
    <a href="#panelVisites" data-icon="bars" data-iconpos = "notext"></a>
</div><!-- /header --> 
 
<div data-role="panel" id="panelVisites" >
    <a href="#pageajouterrapport" data-role="button" data-inline="true" data-icon="plus">Ajouter un rapport</a>
    <a href="#pagechoisirrapportamodifier" data-role="button" data-theme="a"  data-inline="true">Modifier un rapport</a>
    <a href="#fermer" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true">Fermer le panneau</a>
</div>