<div data-role = "header">
    <h1>Médecins</h1>
    <a data-rel = "back" data-icon = "back" data-iconpos = "notext"></a>
    <a href = "#pageaccueil" data-rel = "home" data-icon = "home" data-iconpos = "notext" ></a>
    <a href="#panelMedecins" data-icon="bars" data-iconpos = "notext" data-role="button" id="btnPanelMedecins" ></a>
</div><!-- /header -->

<div data-role="panel" id="panelMedecins" >
    <a href="#pagemajmedecin" data-role="button" data-inline="true" id="btnMajMedecin">Voir/Modifier les informations du médecin</a>
    <a href="#pagevoirlesrapports" data-role="button"   data-inline="true" id="btnVoirRapports" >Voir rapports de visite du médecin</a>
    <a href="" data-role="button" data-icon="grid"   id="tel"  data-inline="true" data-mini="true">Appeler</a>
</div>
