<div data-role = "header">
    <h1>Les rapports</h1>
    <a data-rel="back" data-icon="back" data-iconpos="notext"></a>
    <a href="#pageaccueil" data-rel="home" data-icon="home" data-iconpos="notext"></a>
    <a href="#panelRapports" data-icon="bars" data-iconpos = "notext" data-role="button" id="btnPanelRapports"></a>
</div><!-- /header -->

<div data-role="panel" id="panelRapports" >
    <a href="#pagemajmedecin" data-role="button"  data-inline="true" id="btnMajMedecin">Voir/modifier les informations du médecin</a>
    <a href="" data-role="button" data-icon="grid" id="tel" data-inline="true" data-mini="true">Appeler</a>
</div>
