<div data-role = "footer"  data-position = "fixed" data-id= "pied">
    <div id = "divmenuaccueil" data-role = "navbar">
        <ul>
            <li><a href = "#pagevisites">Mes visites</a></li>
            <li><a href = "#pagemedecins" id="btnpagemedecins">Mes médecins</a></li>
        </ul> 
    </div>
</div><!-- /footer -->